.project-card{
    box-shadow: var(--boxShadow);
    border-radius: 0.5rem;
    gap: 1rem;
    box-sizing: content-box;
    padding-bottom: 1rem;
}

.project-list{
    height: 360px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
}

.project-nav{
    font-size: 1.4rem;
    text-transform: uppercase;
}
.project-thumb{
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
    width: clamp(20rem, 35vw, 50rem);
}