.header-container{
    height: 5rem;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(2rem, 5vw, 2.2rem);
    container-type: inline-size;
    box-shadow: var(--boxShadow);
}
.header-container img{
    height: clamp(1rem, 10vw, 4rem);
}
.nav-container{
    display: flex;
}
.nav-button{
    visibility: hidden;
}
@container (max-width: 768px) {
    .nav-container{
        padding-top: 2rem;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        width: 30vw;
        height: 100vh;
        box-shadow: var(--boxShadow);
        transition: width 1s ease;
    }
    .nav-link{
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid var(--color1);
    }
    .nav-button{
        visibility: visible;
        text-align: start;
        padding-left: 1.5rem;
        font-size: 1.5rem;
    }
}

.nav-link{
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 5vw, 1.2rem);
}
.hide{
    display: none;
}