.header-container{
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    height: 5rem;
    background-color: white;
    box-shadow: 0px -4px 7px 2px #a39a9a;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(0.5rem, 5vw, 1rem);
}
.header-container img{
    height: clamp(1rem, 10vw, 4rem);
}